@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

/* Eliminar flechas/spinners para subir y bajar cantidad en campos numéricos, porcentuales y monetarios en toda la aplicación */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"],
input[type="text"],
input {
  -moz-appearance: textfield;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
  -webkit-appearance: none !important;
}

